# Copyright contributors to the IBM Security Verify Access Operator project
 
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ibm.com
  resources:
  - ibmsecurityverifyaccesses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ibm.com
  resources:
  - ibmsecurityverifyaccesses/finalizers
  verbs:
  - update
- apiGroups:
  - ibm.com
  resources:
  - ibmsecurityverifyaccesses/status
  verbs:
  - get
  - patch
  - update
